{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/registration.css">
{% endblock %}

{% block body %}

<div class="body_div">
  <div class="form_div">
    <h1>Blocked!</h1>
    <form class="mt-5" id="form_72">
      <div class="input_div">
        <input type="text" id="key" placeholder="Enter unblock key">
        <i class="bi bi-key-fill"></i>
      </div>

      <div class="remb_inp_div">
        <label for="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="python EnigmaSave.py -K">Forget
          Key?</label>
      </div>
      <button>Unblock</button>
    </form>
  </div>

</div>



{% endblock %}


{% block js %}
<script src="/static/js/block.js"></script>
{% endblock %}