{% extends "base.html" %}

{% block title %}Set-up{% endblock %}

{% block css %}
<link rel="stylesheet" href="static/css/registration.css">
{% endblock %}

{% block body %}

    <div class="body_div">
      
        <div class="form_div" id="form_div">
          <h1>Set-Up</h1>
          <form class="mt-5" id="form_72" action="">
            <div class="input_div">
              <input type="text" id="email" placeholder="Email">
              <i class="bi bi-envelope-fill"></i>
            </div>

            <div class="input_div">
              <input type="text" id="username" placeholder="Username">
              <i class="bi bi-person-fill"></i>
            </div>

            <div class="input_div">
              <input type="password" id="password" placeholder="Password">
              <i class="bi bi-lock-fill"></i>
            </div>

            <div class="input_div">
              <input type="password" id="c_password" placeholder="Confirm Password">
              <i class="bi bi-lock-fill"></i>
            </div>

            <div class="input_div">
              <input type="password" id="v_pin" placeholder="set 4 digit Pin" maxlength="4">
              <i class="bi bi-key-fill"></i>
            </div>

            <button>Continue <i class="bi bi-arrow-right-circle-fill"></i></button>
          </form>
          <label id="registration_label" for="">Have an account? <a href="">Login</a></label>
        </div>
    </div>

    





    {% endblock %}
    
    
    
    
    {% block js %}
   <script src="/static/js/registration.js"></script>
    {% endblock %}